@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700");
html {
  font-family: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  line-height: 1.42857143;
  color: #555555;
  background-color: #ffffff;
}
.navbar-default {
  background-color: #273b47;
  border-color: #888;
}
.navbar-default .navbar-brand {
  color:#fff;
}
.navbar-default .navbar-nav > li > a {
  color:#fff;
}
.navbar-default .navbar-nav > li > a:hover {
  background-color: #29546d;
  color:#fff;
}
.navbar-default .navbar-nav > li.dropdown.open > a:hover {
  background-color: #29546d;
  color:#fff;
}
.navbar-default .navbar-nav > li.dropdown.open > a {
  background-color: #29546d;
  color:#fff;
}
.bootstrap-table {
  font-size: .8em;
}
.container {
  padding-top: 54px;
}
.Footer {
  background: none repeat scroll 0 0 #000;
  border-top: 0.5em solid #f90;
  margin-top: 3em;
  color: #fff;
  padding-top: 1em;
}
.Footer-image {
  max-width: 100%;
}
.Footer-link {
  color: #f90;
}
.Footer-container {
  padding-top: 60px;
}
