<?xml version="1.0"?>
<config>
	<app>
		<key>45db94b1e9222fdedcee4d7383b5b7ad</key>
		<name>Venta en ruta</name>
		<company>sincco</company>
	</app>
	<front>
		<url>http://sistema.nats.com.mx/</url>
	</front>
	<bases>
		<default>
			<host>db595435742.db.1and1.com</host>
			<user>userp</user>
			<password>aY2+zt7NkYEOeo8H81z40AyUwA0Z3f7jT913Xwss1Ik=</password>
			<dbname>db595435742</dbname>
			<type>mysql</type>
		</default>
	</bases>
	<dev>
		<log>1</log>
		<showerrors>1</showerrors>
		<showphperrors>1</showphperrors>
	</dev>
	<sesion>
		<type>DEFAULT</type>
		<name>userp</name>
		<ssl>0</ssl>
		<inactivity>60</inactivity>
	</sesion>
</config>