<?xml version="1.0"?>
<config>
    <app>
        <key>4145C0E5A9AAEFB053E0BF932FA58736</key>
        <name>erizo</name>
        <company>ventana oriental</company>
    </app>
    <front>
           <url>http://pos.ventanaoriental.com/</url>
    </front>
    <bases>
        <default>
            <host>localhost</host>
            <user>tiendaventanao</user>
            <password>glf/FSqiHxZXs5LhTDJQgr8TVECiw9rBxO8sDw/3DaQ=</password>
            <dbname>tiendaventanao</dbname>
            <type>mysql</type>
        </default>
    </bases>
    <dev>
        <log>1</log>
        <showerrors>1</showerrors>
        <showphperrors>1</showphperrors>
    </dev>
    <sesion>
        <type>DEFAULT</type>
        <name>erizo</name>
        <ssl>0</ssl>
        <inactivity>60</inactivity>
    </sesion>
</config>
