<?xml version="1.0"?>
<menu>
	<item0>
		<texto>Catalogos</texto>
		<menu>
			<item0>
				<texto>Clientes</texto>
				<url>clientes</url>
			</item0>
			<item1>
				<texto>Proveedores</texto>
				<url>proveedores</url>
			</item1>
			<item2></item2>
			<item3>
				<texto>Almacenes</texto>
				<url>almacenes</url>
			</item3>
			<item4></item4>
			<item5>
				<texto>Líneas de productos</texto>
				<url>lineasproductos</url>
			</item5>
			<item6>
				<texto>Productos</texto>
				<url>productos</url>
			</item6>
			<item7></item7>
			<item8>
				<texto>Impuestos</texto>
				<url>impuestos</url>
			</item8>
			<item9>
				<texto>Gastos</texto>
				<url>gastos</url>
			</item9>
			<item10>
				<texto>Vendedores</texto>
				<url>vendedores</url>
			</item10>
			<item11></item11>
			<item12>
				<texto>Configuración</texto>
				<url>config</url>
			</item12>
		</menu>
	</item0>
	<item1>
		<texto>Inventarios</texto>
		<menu>
			<item0>
				<texto>Existencias</texto>
				<url>existencias</url>
			</item0>
			<item1>
				<texto>Transferencias</texto>
				<url>transferencias</url>
			</item1>
		</menu>
	</item1>
	<item2>
		<texto>Operaciones</texto>
		<menu>
			<item0>
				<texto>Compras</texto>
				<url>compras</url>
			</item0>
			<item1>
				<texto>Ventas</texto>
				<url>ventas</url>
			</item1>
			<item2></item2>
			<item3>
				<texto>Devoluciones</texto>
				<url>devoluciones</url>
			</item3>
			<item4>
				<texto>Mermas</texto>
				<url>mermas</url>
			</item4>
			<item5></item5>
			<item6>
				<texto>Registrar gastos</texto>
				<url>gastosdia</url>
			</item6>
			<item7></item7>
			<item8>
				<texto>Plan de ventas</texto>
				<url>planventas</url>
			</item8>
			<item9>
				<texto>Cuentas por cobrar</texto>
				<url>cxc</url>
			</item9>
			<item10></item10>
			<item11>
				<texto>Cotizaciones</texto>
				<url>cotizaciones</url>
			</item11>
		</menu>
	</item2>
	<item4>
		<texto>Salir</texto>
		<url>inicio/salir</url>
	</item4>
</menu>
